body {
    margin: 0;
    height: 100vh;
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 'header header' 
                         'section main';
}

header {
    padding: 1rem;
    grid-area: header;
    background-color: aquamarine;
}

section {
    padding: 1rem;
    grid-area: section;
    background-color: rgb(49, 180, 115);
}

main {
    grid-area: main;
    background-color: brown;
}



/*****mobil****/
/* @media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'header' 
                             'section' 
                             'main';
    }
}

/*****tablet****/
/* @media (min-width: 481px) and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'header' 
                             'section' 
                             'main';
    }
} */ 
